/*Author: Hadas Shahar <hshaha05@campus.haifa.ac.il>*/
/*whole page definitions*/

.form-group.row{
	margin: 5px;
}

body{
	background-color: #262626;
	//overflow-y: hidden;
}

html,body{
	display:flex;
    flex-direction:column;
    height:100%;
}

.container-fluid.main{
	color:white;
    //overflow-y: hidden;
    width:100%;
}

.btn{
	background-color: black;
	color: white;
	margin: 5px;
}

.btn:hover{
	background-color: #3db1c8;
	color: white;
}


.nav-pills li a{
	background-color: black;
	color: white;
	margin: 5px;
}

.nav-pills li a:hover{
	background-color: white;
	color: black;
}

/*header definitions*/
.header{
	background-color: black;
	height: 100px;
	color: white;
	line-height: 100px;
}

#logo{
	width: auto;
	height: 90%;
	float: left;
	margin: 5px;
}
#logo:hover{
	cursor:pointer;
}

h1{
	display: inline-block;
    vertical-align: middle;
}


/*file explorer definitions*/
#file-explorer{
	border-right: 1px solid lightgray;
	overflow-x: auto;
}

#up-dir{
	float: left;
}

#proj-select{
	float: right;
}

#explorer-wrapper{
	padding-left: 0;
}

#curr-dir{
	padding: 7px;
	background-color: #505050;
}

#selected-exp{
	padding: 7px;
	background-color: #3db1c8;
}

/*parameter selection definitions*/
select,datalist{
	color:black;
	width:100%;
}

.create-selection{
	opacity: 1;
	color: black;
}


#err-msg{
	color: red;
	background-color: black;
	padding: 10px;
	margin: 10px;
	white-space: pre-wrap;
}

.white, .white a {
  color: white;
}

.right-panel{
	margin-top: 10px;
}

.tab-content{
	margin: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    background-color:#3db1c8;
}

.loader {
    border: 16px solid rgba(0,0,0,0.3); /* transparent*/
    border-top: 16px solid #3db1c8; /* blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.disabled{
	background-color: gray;
}


#model-list li img{
  width: 100px;
  height: 100px;
}

#model-list li{
  display: inline-block;
  margin: 10px;
}

#model-list{
  list-style-type: none;
  text-align: center;
}

.highlight{
	border: 3px solid #3db1c8;
	box-shadow: 0 0 10px #3db1c8;
}

#model-list li:hover{
	box-shadow: 0 0 10px white;
}

hr{
	margin: 10px;
}

#toggle-explorer{
	float:left;
}

#reload-plugins,#save-preset, #delete-preset,#reload-preset{
	float:right;
}

#save-as-background{
	opacity:0.6;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
}

#save-as-preset-form{
	opacity: 1;
	width:350px;
	margin: 0 auto;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 30%;
	background-color: #262626;
	border: 5px solid #3db1c8;
}

input{
	color: black;
}

#server-success{
	border-radius: 5px;
	background-color: rgba(255,255,255,0.1);
	padding: 5px;
	text-align: center;
}

#preset-list,select{
	resize:both;
}

footer{
	width:100%;
	position:fixed;
	bottom:0;
	background-color: #505050;
	padding: 5px;
}